*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    
}

.tpl{
    text-decoration-color: #b73636;
   background-color: #ffffff;
  text-align:center;
  

   }
.tpl span{
    color: deepskyblue;
    font-size: 50px;
}


.next-container{
margin-left: 400px;
margin-right: 400px;
background-color: #938686;
border-radius: 15px;
}